
    @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300;400;700;900&display=swap');
    body{
        font-family:"Roboto",sans-serif;
    }
*{
    margin: 0;
    padding: 0;
}
/*--start--first-section*/
.header{
    background-image: url(./images/Rectangle\ 237.png);
    width: 100%;
    height: 620px;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.lets-help{
    padding-top: 100px;
}
.lets-help h1 {
    font-size: 65px;
    color: #ffff;
    font-weight: bolder;
    letter-spacing: -1px;
    line-height: 76px;
}
.lets-help p{
    font-size: 18px;
    color: #ffff;
    padding-top: 27px;
    display: block;
}
.donate-btn {
    width: 120px;
    text-align: center;
    display: block;
    margin: 20px auto;
    text-decoration: none;
    background-color: #FF5959;
    padding: 15px 10px;
    border-radius: 7px;
    color: #ffff;
    font-size: 20px;
}
/*end fast section */
/*start-second-section*/
.donation {
    margin: 85px 0px;
}

.donate-title {
    width: 100%;
    margin: auto;
    display: block;
    text-align: center;
}

.donate-title h2 {
    font-size: 50px;
    margin: 20px 0;
    width: 100%;
    text-align:center;
    display: block;
    font-weight: 900;
}



.donation-amount {
    display: flex;
    margin-top: 61px;
    column-gap: 40px;
    justify-content: center;
}
.amount {
    font-size: 30px;
    font-weight: bolder;
    color: #707070;
    padding: 33px 20px;
    background: #FAFAFA;
    border-radius: 5px;
}
#different-style {
    color: #ff5959;
    border: 2px solid;
    background: #FFEEEE;
}
#inpute-field{
    margin-top: 60px;
    text-align: center;
    font-size: 18px;
    color: #707070;
}
.form {
    border: none;
}
.horizontal-rule {
    margin-top: 15px;
}
hr{
    
    width: 50%;
    margin: auto;
    color: #707070;
}
/*-end--sccond-section--*/
/*--start--third--section*/
.donate-plan{
    margin: 90px 0;
}
.donate-plan-title {
    text-align: center;

}
.donate-plan-title h1{
    font-size: 45px;
    font-weight: bold;

}
.donate-plan-title p{
    padding-top: 20px;
    font-size: 18px;
    color: #707070;
}
.donate-box-wrapper{
    display: flex;
    padding-left: 40px;
    padding-right:40px;
    padding-top: 50px;
}
.donate-box {
    width: 40%;
    height: 330px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    padding: 20px;
}
.donate-box img {
    padding-top: 40px;
}
.donate-box h2 {
    padding-top: 30px;
    font-size: 28px;
    font-weight: bold;
}
.donate-box p{
    padding-top: 20px;
    font-size: 19px;
    color: #707070;;
}
div#Food {
    background-color: rgba(79, 157, 166, 0.1);
}
div#Shelter {
    background-color: #FF59591A;
}
div#Education {
    background-color: rgb(243, 230, 194);
}
/*-end-third-section-*/
/*--start--fourth--sectio*/
.latest-blog {
    margin: 80px 0;
    padding-left: 50px;
    padding-right: 50px;
}
.latest-blog-title h1 {
    margin: 50px 0;
    font-size: 45px;
    text-align: center;
}
.blog-text-album {
    display: flex;
    justify-content: center;
}
.latest-blog-text{
    width: 33%;
}
.latest-blog-text h2 {
    width: 250px;
    font-size: 30px;
    padding: 10px 20px;
    background-color: #23b1e9;
    color: #ffff;
    text-align: center;
}
.latest-blog-text p {
    font-size: 20px;
    margin: 65px 0;
}
.blog-text-album a {
    padding: 15px 25px;
    background-color: #23b1e9;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
    color: #ffff;
    font-weight: 900;
}
.best-moment-album{
    width: 33%;

}
.best-moment-album .photo{
    padding: 10px 15px;
}
.best-moment-album .photo img{
    width: 100%;
}

.best-moment-album .last-image{
    margin-top: 10px;

}
/* end--fourth-section */

/* start--fifth--section */
.get-updates {
    margin: 80px 0;
}
.get-my-updates-title {
    text-align: center;
}
.get-my-updates-title h2 {
    font-size: 45px;
    font-weight: bold;

}
.get-my-updates-title p {
    padding-top: 20px;
    font-size: 18px;
    color: #707070;
}
.email-section {
    background: #e7e5ac;
    width: 661px;
    display: block;
    margin: 80px auto;
    padding: 73px;
    display: flex;
    justify-content: center;
}
.email {
    padding: 15px;
    border: none;
    font-size: 18px;
    text-align: center;
}
.subscribe-btn {
    width: 120px;
    background-color: #de1e42;
    border: none;
    color: white;
}
.subscribe-btn a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    color: white;
}
/*-end-fifth-section-*/
/* footer-section*/
.footer-section{
    width: 100%;
    height: 180px;
    background-color: black;
    text-align: center;
}
.footer-box h2{
    color: #FF5959;
    font-size: 40px;
    font-weight: bold;
    padding-top: 59px;
}
.footer-box p {
    color: white;
    font-size: 14px;
    margin-top: 30px;
}
/* end footer*/

